

body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color:  #00f0ff;
}

#background-diagram {
  position: fixed;       /* reste collé en fond même au scroll */
  bottom: 0;
  width: 60%;
  height: 60%;
  right: 0;
  z-index: 0;            /* en arrière-plan */
  pointer-events: none;  /* très important pour que le SVG ne bloque pas les clics */
  background-color: #0d0d0d;

}


#main-content {
  z-index: 10;          /* devant le SVG */
  color: lime;          /* ton style normal */
  font-family: 'Courier New', monospace;

}

span{
  background-color: #0d0d0d;
}

nav {
  color: #6c00ff; /* violet cyberpunk */
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  border: #772289;
  border-bottom: 2px solid #772289;
  display: flex;
  justify-content: space-between;

}

nav button {
  flex: 1; /* prend un espace égal */
  background: none;
  border: none;
  color: #f8e602; /* jaune cyberpunk */
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  transition: color 0.3s, background 0.3s;
  text-align: center;
  border-right: 1px solid #772289;
}

nav button:last-child {
  border-right: none;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #00f0ff;
}

#terminal {
  line-height: 1.8;
  padding: 20px;
  white-space: pre-wrap;
  min-height: 90vh;
  font-size: 1em;
}
svg { width:100%; height:100vh; display:block; background:#0d0d0d; }
  .device rect {
    fill:#222; stroke:#0ff; stroke-width:2; rx:6;
  }
  .label {
    font-family:monospace; font-size:14px; fill:#0ff; text-anchor:middle;
  }
  .bus { stroke:#555; stroke-width:4; }
  .active { stroke:red !important; }
  .done { stroke:lime !important; }

img.terminal-image {
  display: block;
  max-width: 100%;
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 1s;
}

img.terminal-image.show {
  opacity: 1;
}
