h1{
    font-size: 48px;
    color: #540D6E;
    text-align: center;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.centered{
    display:flex;
    align-items:center;
    justify-content:center;
}

video{
    margin-left:35%;
    width:30%;
    margin-right:35%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.command{
    color: #8AC926;
    font-size: 18px;
}

#Question{
    color: #8AC926;
    font-size: 18px;
}

#Topic{
    color: #FF595E;
    font-size: 18px;
}

body, h1,h2,h3, p{
    margin:0;
    padding:0;
}


body{
    font-family: 'Roboto Mono', monospace;
    padding: 12px;
    overflow-y: auto;
    resize: none;
    border: none;
    font-size: 10px;
    line-height: 28px;
    display: block;
    width: 100%;
    height: 100%;

    color: #8AC926;
}

#title{
    font-family: 'Roboto Mono', monospace;
    background: transparent;
    padding: 12px;
    overflow-y: auto;
    resize: none;
    border: none;
    font-size: 10px;
    line-height: 18px;
    display: block;
    width: 100%;
    height: 100%;

    color: #8AC926;
}



.terminalCont{
    background: transparent;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    opacity: 0;

    animation:
            slideDownAnimation 1s ease-in-out 1s forwards,
            fadeInAnimation 0.8s ease-in-out 1s forwards;
}

.userEnteredText{
    color: #8AC926;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
}



#terminalResultsCont{
    width:100%;
    height: 875%;
    padding: 12px;
    overflow-y: auto;
    resize: none;
    border: none;
    font-size: 14px;
    line-height: 28px;
    display: block;
    color: #FFCA3A;
}



#terminalResultsCont a{
    color: #8AC926;
    text-decoration: underline;
    font-size: 18px;

}

#terminalResultsCont a:hover{
    background-color:  #FF595E;
    font-size: 20px;
}


#terminalTextInput{
    background: transparent;
    display: block;
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-radius: 0 0 4px 4px;
    width: 100%;
    color: #8AC926;
    padding: 18px;
    font-size: 20px;
    outline: none;
    font-family: 'Roboto Mono', monospace;
}

@-webkit-keyframes fadeInAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeInAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeInAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeInAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes slideDownAnimation {
    0%   { margin-top: -20px;}
    100% { margin-top: 0;}
}
@-moz-keyframes slideDownAnimation {
    0%   { margin-top: -20px;}
    100% { margin-top: 0;}
}
@-o-keyframes slideDownAnimation {
    0%   { margin-top: -20px;}
    100% { margin-top: 0;}
}
@keyframes slideDownAnimation {
    0%   { margin-top: -20px;}
    100% { margin-top: 0;}
}

@media screen and (max-width: 1000px){

    .mainCont{
        width: 100%;
        padding: 0 12px;
    }
    .mainCont h2{
        font-size: 32px;
        margin: 40px 0 0 0;
    }
    .mainCont h3{
        font-size: 16px;
        margin: 0 0 40px 0;
    }
    #terminalResultsCont{
        height: 100px;
    }

}
