<nav class="navbar">

    <a href="../index.html" class="nerd-button">
        Nevermind, I'm a nerd
    </a>

    <div class="logo">
        <a href="Human.html">
            QM
        </a>
    </div>

    <nav class="nav-links">

        <a href="education.html">
            Education
        </a>

        <a href="certifications.html">
            Certifications
        </a>

        <a href="resume.html">
            Resume
        </a>

        <a href="projects.html">
            Projects
        </a>

        <a href="resources.html">
            Resources
        </a>

        <a href="research.html">
            Research
        </a>

        <a href="contact.html">
            Contact Me
        </a>

    </nav>

</nav>